/* Exo regular + light */

@font-face {
  font-family: "Exo-Regular";
  src: local("Exo-Regular"),
    url("../fonts/Exo/Exo-Regular.woff2") format("woff2"),
    url("/fonts/Exo/Exo-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Exo-Light";
  src: local("Exo-Light"), url("/fonts/Exo/Exo-Light.woff2") format("woff2"),
    url("/fonts/Exo/Exo-Light.woff") format("woff");
  font-weight: 200;
}

/* Fahkwang regular + extralight + bold */

@font-face {
  font-family: "Fahkwang-Regular";
  src: local("Fahkwang-Regular"),
    url("/fonts/Fahkwang/Fahkwang-Regular.woff2") format("woff2"),
    url("/fonts/Fahkwang/Fahkwang-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Fahkwang-extralight";
  src: local("Fahkwang-extralight"),
    url("/fonts/Fahkwang/Fahkwang-ExtraLight.woff2") format("woff2"),
    url("/fonts/Fahkwang/Fahkwang-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Fahkwang-bold";
  src: local("Fahkwang-bold"),
    url("/fonts/Fahkwang/Fahkwang-Bold.woff2") format("woff2"),
    url("/fonts/Fahkwang/Fahkwang-Bold.woff") format("woff");
  font-weight: 800;
}
