/* DESKTOP */
@media (min-width: 768px) {
}


/* MOBILE */

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  height: 76px;
  width: 100%;
  background-color: var(--color-creme);
  /* border: var(--color-light-green) solid 1px; */
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons-wrapper {
display: flex;
gap: 16px;
}

.footer-links {
  display: none;
}

.icons-wrapper img:nth-child(1) {
  width: 32px;
  height: 28px;
}
.icons-wrapper img:nth-child(2) {
  width: 56px;
  height: 28px;
}
.icons-wrapper img:nth-child(3) {
  width: 98px;
  height: 28px;
}
.icons-wrapper img:nth-child(4) {
  width: 35px;
  height: 30px;
}

@media (min-width: 768px) {

  footer{
    height: 214px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 26px 100px 0 40px;
  }

  h5 {
    font-family: "Exo";
    font-size: 32px;
    font-weight: 400;
    margin: 0;
  }

  h6 {
    font-size: 32px;
    font-weight: 400;
  }

  .footer-links-container {
    display: flex;
    flex-direction: row;
    gap: 50px
  }

  .footer-links-container a{
    text-decoration: none;
    color: var(--color-black-light);
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    text-align: center;
  }

  .icons-wrapper img:nth-child(1) {
    width: 48px;
    height: 43px;
  }
  .icons-wrapper img:nth-child(2) {
      width: 85px;
      height: 43px;
  }
  .icons-wrapper img:nth-child(3) {
    width: 148px;
    height: 43px;
  }
  .icons-wrapper img:nth-child(4) {
    width: 35px;
    height: 30px;
  }

  .footer-icons img:nth-child(2) {
    width: 53px;
    height: 46px;
  }
  
}
