/* DESKTOP */
@media (min-width: 768px) {
}

/* MOBILE */

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  left: 0;
  height: 330px;
  width: 100%;
  background-color: var(--color-off-white);
  border: var(--color-light-green) solid 1px;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
}

.social-media {
  height: 40px;
  width: 40px;
  background-color: var(--color-dark-green);
}

.footer-links a {
  text-align: center;
}
.footer-links {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-evenly;
}
