:root {
  /* Font sizes (temporary) */
  --h1-large: 2.25rem;
  --h1: 1.5rem;
  --p: 1rem;
  --p-small: 0.75rem;

  /* Colors */
  --color-almost-black: rgba(46, 44, 47, 1);
  --color-dark-green: rgba(70, 110, 68, 1);
  --color-off-white: rgba(254, 255, 246, 1);
  --color-light-green: rgba(189, 198, 150, 1);

  /* Font Family */

  --font-family-base: Exo, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-off-white);
  font-family: var(--font-family-base);
}
