header {
  background-color: var(--color-creme);
  margin-top: 0;
  top: 0;
  left: 0;
  box-shadow: 4px 0px 4px black;
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 8;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  flex-grow: 1;
  padding: 0px 20px 0px 20px;
  background-color: var(--color-creme);
  margin-bottom: 8px;
  padding-bottom: 8px;
  z-index: 8;
}

.menu-links a:hover,
button:hover,
.hamburger:hover,
.search:hover,
.shopping-bag:hover,
.language-button:hover,
.hidden-menus:hover,
.footer-links a:hover {
  cursor: pointer;
}

.drop-menu button {
  text-decoration: none;
  border: transparent;
  background-color: transparent;
}

.drop-menu ul {
  margin-top: 32px;
  padding-left: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr) 2.5fr;
  gap: 16px;
}

.drop-menu li:last-child {
  display: flex;
  align-items: flex-end;
}

.language-button {
  bottom: 0;
  left: 0;
  padding: 0;
}

.hidden-menus button,
.hidden-menus a {
  margin: 0;
  white-space: nowrap;
  padding: 0;
}

.cart p {
  margin: 32px 24px 0 24px;
  border-bottom: solid 2px var(--color-black-light);
  text-align: right;
}

.hamburger,
.logo-wrapper,
.nav-icons,
.shopping-bag {
  display: flex;
  align-items: flex-end;
}

.logo {
  height: 40px;
}

.hamburger {
  width: 30px;
  height: 30px;
}

.hamburger:hover path {
  fill: rgba(163, 163, 164, 1);
  transition: 0.3s ease;
}
.hamburger:active path {
  fill: rgba(163, 163, 164, 1);
  transition: 0.3s ease;
}
.search:hover path {
  fill: rgba(163, 163, 164, 1);
  transition: 0.3s ease;
}
.search:active path {
  fill: rgba(163, 163, 164, 1);
  transition: 0.3s ease;
}
.shopping-bag:hover path {
  fill: rgba(163, 163, 164, 1);
  transition: 0.3s ease;
}
.shopping-bag:active path {
  fill: rgba(163, 163, 164, 1);
  transition: 0.3s ease;
}

.logo-wrapper {
  flex-grow: 1;
  justify-content: center;
  margin-left: 40px;
}

.search {
  width: 30px;
  height: 30px;
  align-self: flex-end;
}

.shopping-bag {
  width: 30px;
  height: 30px;
}

.menu-links ul {
  display: none;
}

.icon-wrapper {
  width: 60px;
  display: flex;
}

.offer {
  display: none;
}

/* DESKTOP */
@media (min-width: 768px) {
  .menu-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    gap: 40px;
    margin-bottom: 0px;
  }
  .hamburger {
    display: none;
  }
  li {
    display: inline-block;
  }

  header {
    justify-content: flex-end;
    height: 134px;
  }

  .menu-links a,
  .menu-links button {
    margin: 0;
    font-size: 24px;
    white-space: nowrap;
  }

  .menu-links button {
    text-decoration: none;
    border: transparent;
    background-color: transparent;
  }

  .offer {
    width: 100%;
    height: 54px;
    background-color: var(--color-black-light);
    display: flex;
    align-items: center;
    padding-left: 80px;
  }

  .logo-wrapper img,
  .logo-wrapper {
    width: 100px;
    height: 80px;
    padding-bottom: 0;
  }

  .logo-wrapper {
    flex-grow: 0;
  }

  .icon-wrapper {
    width: 100px;
    display: flex;
    margin-right: 40px;
  }

  .search {
    width: 50px;
    height: 50px;
  }

  .shopping-bag {
    width: 50px;
    height: 50px;
  }

  .shopping-bag path {
    width: 50px;
    height: 50px;
  }
}
