header {
  background-color: white;
  margin-top: 0;
  top: 0;
  left: 0;
  box-shadow: 4px 0px 4px black;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hamburger {
  width: 30px;
  height: 30px;
  background: var(--color-dark-green);
  border: 0;
}

.logo {
  display: none;
}

.logo-wrapper p {
  font-family: "Fahkwang";
  margin: 0;
  padding: 0;
}

.search {
  width: 30px;
  height: 30px;
  background: var(--color-dark-green);
}

.shopping-bag {
  width: 30px;
  height: 30px;
  background: var(--color-dark-green);
}

header ul {
  display: none;
}

/* DESKTOP */
@media (min-width: 768px) {
  header ul {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  li {
    display: inline-block;
  }
}
