header {
  background-color: white;
  margin-top: 0;
  top: 0;
  left: 0;
  box-shadow: 4px 0px 4px black;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.logo {
  display: none;
}

.logo-wrapper p {
  font-family: "Fahkwang", sans-serif;
  margin: 0;
  padding: 0;
}

.hamburger {
  width: 30px;
  height: 30px;
  background: var(--color-dark-green);
  border: 0;
}
.logo-wrapper {
  width: 40px;
  height: 40px;
  background-color: var(--color-dark-green);
}

.search {
  width: 30px;
  height: 30px;
  background: var(--color-dark-green);
}

.shopping-bag {
  width: 30px;
  height: 30px;
  background: var(--color-dark-green);
}

header ul {
  display: none;
}

/* DESKTOP */
@media (min-width: 768px) {
  header ul {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
  }
  .hamburger {
    display: none;
  }
  li {
    display: inline-block;
  }
}
