main {
  margin-top: 70px;
}

.hero {
  height: 424px;
  width: 100%;
  /* background-image: url("/images/Hero\ Mobile.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
}

.hero-image {
  height: 424px;
  width: 100%;
  position: relative;
}

.hero-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  row-gap: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-image button {
  border: none;
  width: 119px;
  height: 32px;
  background-color: var(--color-light-green);
}

.hero-image p {
  margin: 0;
  padding: 0 60px 0 60px;
  width: 390px;
  text-align: center;
}

.hero-image img {
  width: 100%;
}

article {
  height: auto;
  width: 100%;
  background-color: var(--color-off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

article h4 {
  margin: 0px 0px;
  width: 100%;
  text-align: center;
}

article button {
  background-color: var(--color-green-darkend);
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articles-wrapper {
  padding: 0 8px 0 8px;
}

.articles-wrapper h3 {
  display: none;
}

.articles img {
  width: 100%;
  justify-self: flex-start;
}

.articles button {
  width: 120px;
  height: 2rem;
  border: none;
}

.offer-section {
  width: 100%;
  height: 515px;
  background-color: var(--color-black-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-section label {
  /* display: block; */
  margin-bottom: 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 335px;
  background-color: var(--color-black-light);
  border: solid 4px var(--color-green-deep);
}

.info {
  background-image: linear-gradient(
    var(--color-darkest-green),
    var(--color-dark-green-transparent),
    var(--color-creme)
  );
  height: 400px;
  width: 100%;
  /* display: flex; */
  padding: 0 8px 0 8px;
  justify-content: center;
  flex-direction: column;
}

.info p {
  padding: 8px;
  height: 400px;
  background-color: var(--color-green-middle);
}

form button {
  border: none;
  background-color: var(--color-green-dolce);
  display: inline-block;
  height: 32px;
  width: 109px;
}

input[type="email"] {
  border: none;
  font-style: italic;
  width: 193px;
  height: 32px;
}

input[type="email"]:focus {
  background-color: var(--color-off-white);
}

.socials-wrapper {
  background-image: linear-gradient(
    var(--color-creme),
    var(--color-dark-green-transparent),
    var(--color-darkest-green)
  );
  text-align: center;
  padding-top: 2rem;
}

.socials-text img {
  width: 50px;
}

@media (min-width: 768px) {
  main {
    margin-top: 134px;
  }
  .socials-text img {
    width: 80px;
    margin-right: 40px;
  }

  .socials-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6rem auto 2rem;
  }

  .hero {
    /* background-image: url("/images/Hero\ Desktop.jpg"); */
    height: 859px;
    padding: 0 100px 0 100px;
  }

  .articles-wrapper h3 {
    /* display: block; */
  }

  .articles-wrapper {
    width: 100%;
    height: 1408px;
    background: rgb(46, 44, 47);
    background: linear-gradient(
      180deg,
      rgba(46, 44, 47, 1) 32%,
      rgba(254, 255, 246, 1) 100%
    );
    border: 4px solid var(--color-green-middle);
  }

  article {
    width: 420px;
    height: 420px;
    /* justify-content: center;
    align-content: center; */
    justify-self: center;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    row-gap: 40px;
  }

  .hero-image {
    height: 859px;
    row-gap: 116px;
    padding: 58px 0 140px 0;
  }

  .hero-image button {
    width: 226px;
    height: 56px;
  }

  .hero-image p {
    width: 100%;
    padding: 0;
  }
}
