main {
  margin-top: 70px;
  z-index: 3;
}

.hero {
  height: 424px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
}

h1 {
  grid-row: 2 / 3;
}

.hero-image {
  height: 424px;
  width: 100%;
  position: relative;
}

.hero-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  row-gap: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-image button {
  border: none;
  width: 119px;
  height: 32px;
  background-color: var(--color-light-green);
  grid-row: 3 / 4;
}

.hero-image p {
  margin: 0;
  padding: 0 60px 0 60px;
  width: 390px;
  text-align: center;
}

h2,
.info p {
  margin: 0;
  padding: 0 8px 0 8px;
}

.info-header,
.info-text {
  width: 360px;
  text-align: center;
}

.info-header {
  height: 92px;
  background-color: var(--color-green-middle);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  height: 460px;
  background-color: var(--color-green-middle);
  padding: 14px 24px 0 24px;
}

.info {
  background-image: linear-gradient(
    var(--color-darkest-green),
    var(--color-dark-green-transparent),
    var(--color-creme)
  );
  height: 672px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

article {
  height: auto;
  width: 354px;
  background-color: var(--color-black-light);
  display: flex;
  flex-direction: column;
}

article h4 {
  margin: 18px 0px;
  text-align: center;
  justify-self: center;
}

article button {
  background-color: var(--color-green-darkend);
  width: 130px;
  height: 32px;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.article-container {
  position: relative;
  height: 328px;
}

.article-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.articles-wrapper {
  padding: 0 8px 0 8px;
}

.articles-wrapper h3 {
  display: none;
}

.articles img {
  width: 354px;
  height: 328px;
  justify-self: flex-start;
}

.articles button {
  width: 120px;
  height: 2rem;
  border: none;
}

.offer-section {
  width: 100%;
  height: 515px;
  background-color: var(--color-black-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 88px;
}

.offer-section label {
  margin: 0 48px 18px 48px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  height: 363px;
  background-color: var(--color-black-light);
  border: solid 4px var(--color-green-deep);
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

form label:nth-child(1),
form p,
.input-field {
  grid-column: span 2;
}

form button {
  border: none;
  background-color: var(--color-green-dolce);
  display: inline-block;
  height: 32px;
  width: 109px;
  padding: 0;
}

form p {
  font-style: italic;
}

form input {
  border: none;
  font-style: italic;
  width: 193px;
  height: 32px;
  padding: 0;
}

form input:focus {
  background-color: var(--color-off-white);
}

.socials-wrapper {
  background-image: linear-gradient(
    var(--color-creme),
    var(--color-dark-green-transparent),
    var(--color-darkest-green)
  );
  text-align: center;
  padding-top: 2rem;
}

.socials-text img {
  width: 50px;
}

@media (min-width: 768px) {
  main {
    margin-top: 134px;
  }

  .offer-section {
    padding: 0 100px 0 100px;
  }

  .info {
    height: 1452px;
  }

  .info-header {
    width: 620px;
    height: 160px;
    white-space: nowrap;
  }

  .info-text {
    width: 696px;
    height: 944px;
    text-align: left;
  }
  .socials-text img {
    width: 80px;
    margin-right: 40px;
  }

  .socials-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6rem auto 2rem;
  }

  .hero {
    height: 859px;
    padding: 0 100px 0 100px;
  }

  .articles-wrapper h3 {
    display: flex;
    justify-content: center;
  }

  .articles-wrapper {
    width: 100%;
    height: 1408px;
    background-image: linear-gradient(
      var(--color-dark-purple),
      var(--color-creme)
    );
  }

  .article-container {
    width: 420px;
    height: 420px;
  }

  article {
    width: 420px;
    height: 420px;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
  }

  .article img {
    width: 420px;
    height: 420px;
  }

  .article-button button {
    width: 254px;
    height: 56px;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    row-gap: 40px;
    /* height: 1408px; */
  }

  .hero-image {
    height: 859px;
    row-gap: 116px;
    padding: 0 0 140px 0;
  }

  .hero-image button {
    width: 226px;
    height: 56px;
  }

  .hero-image p {
    width: 100%;
    padding: 0;
  }

  form button {
    height: 56px;
    width: 200px;
  }

  form input {
    height: 56px;
    width: 467px;
  }
}
