/* MOBILE */

/*Font colors*/
.hero-image p,
h1,
h2,
.info p,
h3,
h4,
article button,
article p,
form label,
.offer div {
  color: var(--color-white);
}

.language-button,
.drop-menu a,
.drop-menu strong,
.cart p,
.hero-image button,
h5,
.socials-text p,
form button,
h6,
.footer-links a,
.menu-links a,
.menu-links strong {
  color: var(--color-black-light);
}

form p {
  color: var(--color-off);
}

/*Font-family*/
h1,
h3,
h4 {
  font-family: "Fahkwang-Regular";
}

.language-button,
.offer div,
.menu-links a,
.drop-menu a,
.cart p,
.hero-image p,
.hero-image button,
.info p,
.search-field input,
article button,
h5,
.socials-text p,
form label,
form button,
h6,
.footer-links a {
  font-family: "Exo-Regular";
}

form input,
form p,
h2 {
  font-family: "Exo-ExtraLight";
}

/*Font-size*/
.hero-image p,
.hero-image button,
.search-field input,
.info p,
article button,
.socials-text p,
form input,
form button,
h6,
form p {
  font-size: 16px;
}

.language-button,
.drop-menu a,
.drop-menu strong,
.cart p {
  font-size: 18px;
}

h2 {
  font-size: 22px;
}

h5 {
  font-size: 30px;
}

form label {
  font-size: 32px;
}

h4 {
  font-size: 30px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.info p {
  line-height: 24px;
}

h3 {
  margin: 0;
  text-align: center;
}

h5 {
  margin: 0;
  padding: 0;
}

.articles h4 {
  background-color: var(--color-almost-black);
}

.footer-icons h6 {
  margin: 0;
}

.socials-text p {
  margin-top: 0;
  padding: 0;
}

.hidden-text {
  display: none;
}

/* DESKTOP */
@media (min-width: 768px) {
  h6 {
    margin: 0;
  }

  .info p {
    line-height: 48px;
  }

  /*Font-size*/
  .offer div {
    font-size: 16px;
  }

  .menu-links a {
    font-size: 20px;
  }

  .search-field input,
  .menu-links a {
    font-size: 24px;
  }

  .info p,
  .socials-text p {
    font-size: 28px;
  }

  .cart p,
  h6 {
    font-size: 32px;
  }

  .hero-image button,
  article button,
  form input,
  form button,
  form p {
    font-size: 40px;
  }

  .hero-image p,
  form label,
  h4 {
    font-size: 48px;
  }

  h2,
  h5 {
    font-size: 58px;
  }

  h1,
  h3 {
    font-size: 96px;
  }

  .articles h4 {
    background-color: transparent;
    white-space: nowrap;
  }
}
