/* MOBILE */
.hero-image p,
h1,
h2,
.info p,
h3,
h4,
article button,
article p,
form label,
.offer div {
  color: var(--color-white);
}

.drop-menu a,
.drop-menu strong,
.cart p,
.hero-image button,
h5,
.socials-text p,
form button,
h6,
.footer-links a,
.menu-links a,
.menu-links strong {
  color: var(--color-black-light);
}

h1,
h3 {
  font-family: "Fahkwang-Regular";
}

/* .menu-links {
  font-family: "Fahkwang-extralight";
} */

/* .menu-links {
  font-family: "Fahkwang-bold";
} */

.drop-menu a,
.cart p,
.hero-image p,
.hero-image button,
h2,
.info p,
.search-field input {
  font-family: "Exo-Regular";
}

/* .menu-links {
  font-family: "Exo-Light";
} */

h1 {
  /* font-family: "Fahkwang-Regular"; */
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  /* font-family: "Exo-Regular"; */
  font-size: 24px;
  margin: 0;
  background-color: var(--color-green-middle);
  text-align: center;
}

h4 {
  margin: 0;
  padding: 0;
  /* font-family: "Exo-Regular"; */
  font-size: 2rem;
}

.articles h4 {
  /* font-family: "Fahkwang-Regular"; */
  font-size: 2rem;
  background-color: var(--color-almost-black);
}

.footer-icons h6 {
  margin: 0;
  /* font-family: "Exo-Regular"; */
  font-size: 1rem;
}

.socials-text p {
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
}

.hidden-text {
  display: none;
}

/* DESKTOP */
@media (min-width: 768px) {
  h6 {
    /* font-family: "Exo-Regular"; */
    font-size: 32px;
    margin: 0;
  }
  .socials-text p {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 3rem;
  }
  h1 {
    font-size: 96px;
  }

  h2 {
    font-size: 58px;
    width: 560px;
    height: 146px;
    text-align: left;
    font-weight: 200;
  }

  .info p {
    font-size: 28px;
    width: 696px;
    height: 944px;
  }

  h6 {
    font-size: 32px;
  }
}
