/* MOBILE */

/*Font colors*/
.hero-image p,
h1,
h2,
.info p,
h3,
h4,
article button,
article p,
form label,
.offer div {
  color: var(--color-white);
}

.language-button,
.drop-menu a,
.drop-menu strong,
.cart p,
.hero-image button,
h5,
.socials-text p,
form button,
h6,
.footer-links a,
.menu-links a,
.menu-links strong {
  color: var(--color-black-light);
}

/*Font-family*/
h1,
h3,
h4 {
  font-family: "Fahkwang-Regular";
}

.language-button,
.offer div,
.menu-links a,
.drop-menu a,
.cart p,
.hero-image p,
.hero-image button,
h2,
.info p,
.search-field input,
article button,
h5,
.socials-text p,
form label,
form button,
h6,
.footer-links a {
  font-family: "Exo-Regular";
}

form input {
  font-family: "Exo-ExtraLight";
}

/*Font-size*/
.hero-image p,
.hero-image button,
.search-field input,
.info p,
article button,
.socials-text p,
form input,
form button,
h6 {
  font-size: 16px;
}

.language-button,
.drop-menu a,
.drop-menu strong,
.cart p {
  font-size: 18px;
}

h2 {
  font-size: 24px;
}

h5 {
  font-size: 30px;
}

h4 {
  font-size: 38px;
}

h1,
form label {
  font-size: 48px;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
  background-color: var(--color-green-middle);
  text-align: center;
}

h5 {
  margin: 0;
  padding: 0;
}

.articles h4 {
  background-color: var(--color-almost-black);
}

.footer-icons h6 {
  margin: 0;
}

.socials-text p {
  margin-top: 0;
  padding: 0;
}

.hidden-text {
  display: none;
}

/* DESKTOP */
@media (min-width: 768px) {
  h6 {
    margin: 0;
  }

  h2 {
    width: 560px;
    height: 146px;
    text-align: left;
  }

  .info p {
    width: 696px;
    height: 944px;
  }

  /*Font-size*/
  .offer div {
    font-size: 16px;
  }

  .menu-links a {
    font-size: 20px;
  }

  .search-field input,
  .menu-links a {
    font-size: 24px;
  }

  .info p,
  .socials-text p {
    font-size: 28px;
  }

  .cart p,
  h6 {
    font-size: 32px;
  }

  .hero-image button,
  article button,
  form input,
  form button {
    font-size: 40px;
  }

  .hero-image p {
    font-size: 48px;
  }

  h2,
  h4,
  h5 {
    font-size: 58px;
  }

  form label {
    font-size: 64px;
  }

  h1,
  h3 {
    font-size: 96px;
  }
}
